<footer>
    <div class="bg-black h-36">
        <div class="flex items-center h-24">
            <div class="flex items-center justify-center box-border mx-auto h-16 w-16 p-1 border">
                <img class = "object-contain h-8 w-8" src="{{ logo_path }}" alt="{{ alt_text_logo }}">
            </div>
        </div>
        <div class="text-center">
            <h5 class="text-white">{{ store_name }}</h5>
        </div>
    </div>
</footer>
